.sbb__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15%;
    gap: 10px;

    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

    position: fixed;
    width: 100%;
    box-sizing: border-box;
    left: 0px;

    z-index: 10;
    transition: 0.5s;
}

.sbb__header-active {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15%;
    gap: 10px;

    position: fixed;
    width: 100%;
    box-sizing: border-box;
    left: 0px;

    z-index: 10;
}

.sbb__header-logo-active {
    opacity: 0;
    transition: 0.5s;
}

.sbb__header a, .sbb__header-active a {
    text-decoration: none;
    font-family: 'Heading';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: #1F1F1F;
}

.sbb__header-active a {
    color: white;
}

.sbb__header-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 25px;
}

.sbb__header button, .sbb__header-active button {
    all:unset;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 50px 10px;
    gap: 10px;

    background: #002445;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    border-radius: 100px;

    font-family: 'Heading';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 24px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
}

.sbb__header-active button  {
    color: #002445;
    background: #FFFFFF;
}

@media screen and (max-width: 1180px) {
    .sbb__header, .sbb__header-active {
        padding: 10px 2%;
    }
}

@media screen and (max-width: 940px) {
    .sbb__header a, .sbb__header-active a {
        display: none;
    }
}