body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    background: #FFFFFF;

    font-family: 'League Gothic', sans-serif;
    letter-spacing: 1px;

    color: white;

    background-image: url('./assets/burger_vector.png');
    background-position: 55vw 300vh;
    background-size: 100vw;
    background-repeat: repeat-x
}

html {
  scroll-behavior: smooth;
}
