body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    /* ff 3.6+ */
    background:-moz-radial-gradient(circle at 50% 50%, rgba(96, 96, 96, 1) 0%, rgba(36, 35, 35, 1) 100%);

    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(circle at 50% 50%, rgba(96, 96, 96, 1) 0%, rgba(36, 35, 35, 1) 100%);

    /* opera 11.10+ */
    background:-o-radial-gradient(circle at 50% 50%, rgba(96, 96, 96, 1) 0%, rgba(36, 35, 35, 1) 100%);

    /* ie 10+ */
    background:-ms-radial-gradient(circle at 50% 50%, rgba(96, 96, 96, 1) 0%, rgba(36, 35, 35, 1) 100%);

    /* global 92%+ browsers support */
    background:radial-gradient(circle at 50% 50%, rgba(96, 96, 96, 1) 0%, rgba(36, 35, 35, 1) 100%);

    font-family: 'League Gothic', sans-serif;
    letter-spacing: 1px;

    color: white;
}

html {
  scroll-behavior: smooth;
}
