.sbb__menu {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 100px 0px;

    padding-left: 15%;
    padding-right: 15%;
}

.sbb__menu h1 {
    font-size: 50px;
    font-weight: 400;
    text-align: left;
}

.sbb__menu h2 {
    text-align: left;
    font-weight: 400;
}

.sbb__menu-item {
    display: flex;
    flex-direction: column;
}

.sbb__menu-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.sbb__menu-img {
    margin-left: -10%;
}

.sbb__menu-itemlist {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    width: 100%;
}

.sbb__menu-item-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sbb__menu-item-dotted {
    flex-grow: 1;
    border-bottom: 4px dotted white;
    margin-bottom: 4px;
    margin-right: 10px;
    margin-left: 10px;
}

.sbb__menu-item-row {
    font-size: 26px;
    font-weight: 500;
}

.sbb__menu-item-content {
    text-align: left;

    font-size: 18px;
    font-weight: 100;
    font-style: normal;
}


@media screen and (max-width: 1024px) {
    .sbb__menu {
        padding-left: 5%;
        padding-right: 5%;
    }
}

@media screen and (max-width: 786px) {
    .sbb__menu-container {
        flex-direction: column;
    }
    .sbb__menu-img {

    }
    /* .sbb__menu-img {
        display: none;
    } */
    .sbb__menu-container {
        margin-left: 0;
    }
}
