.sbb__menu {
    display: flex;
    flex-direction: column;

    font-family: 'Heading';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;

    background-color: #092442;
    padding: 0 20%;
}

.sbb__menu h1 {
    padding: 5%;
}

.sbb__menu img {
    width: 100%;
}


@media screen and (max-width: 1600px) {
    .sbb__menu {
        padding: 0 10%;
    }
}

@media screen and (max-width: 1180px) {
    .sbb__menu {
        padding: 0 5%;
    }
}

@media screen and (max-width: 500px) {
    .sbb__menu {
        font-size: 1em;
        padding: 0 0;
        padding-top: 15%;
    }
    
}